.ColorVariablesDemo {
	.code {
		background-color: @grey-010;
		padding: @spacing-05 @spacing-07;
		border-left: 6px solid @grey-090;
		font-weight: 500;
	}
}

.ColorVariablesDemo .Color-wrapper {
	flex-wrap: wrap;

	.Color-block.regular {
		max-width: 325px;
		width: calc(50% - 4px);
		margin: 0 @spacing-01 @spacing-06 @spacing-01;
	}

	.Color-block.small {
		width: 100%;
		margin-bottom: @spacing-06;
	}

	.Color-option {
		padding: @spacing-03 @spacing-05;
	}

	.Hex-color {
		width: 70px;
	}
}

.LayoutClassDemo .content-wrapper {
	width: 60%;
	height: 50%;
	position: relative;
	border: 1px solid @grey-100;
}

.Layout-demo-block {
	width: @spacing-07;
	height: @spacing-07;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 1px;
	padding: @spacing-03;
	line-height: @font-size-lg;
	border: 1px solid @grey-100;
	background-color: @grey-030;
}